{% extends "nav.html" %}

{% block content %}
<head>
    <style>
      .table1{
        width: 1200px;
        float:left;
        margin-left: 50px;
      }

      .table2{
        width: 300px;
        float:right;
        margin-right: 50px;

      }

      h1{
        text-align: center;
      }
    </style>
</head>
<body>
  <center>
  <div class = "table1">
    <h1>Entry and Exit Times</h1>
    <br>
    <div class="table">
    <input class="form-control" id="myInput1" type="text" placeholder="Search.." width="1400px">
    <br>
    <div class="table">
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Entry Time</th>
            <th scope="col">Exit Time</th>
          </tr>
        </thead>
        <tbody id="myTables">
        {% for row in data %}
          <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
  </div>


  <div class = "table2">
    <h1>Valid Holidays</h1>
    <br>
    <div class="table">
    <input class="form-control" id="myInput2"  type="text" placeholder="Search.." width="1400px">
    <br>
    <div class="table">
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Dates</th>
          </tr>
        </thead>
        <tbody id="myTabler">
        {% for row in holi %}
          <tr>
            <td>{{row}}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
  </div>
</center>

    <script>
      $(document).ready(function(){
        $("#myInput1").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTables tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });

      $(document).ready(function(){
        $("#myInput2").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTabler tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>
</body>

{% endblock %}
